<div class="container-fluid">

   
  
    <div class="card bg-dark text-white" style="position:relative">
        
  <img src="/images/event.jpg" class="card-img" alt="...">
  <div class="backgroundBlack">
  <div class="cardText"style="position:absolute " >
    <h2 class="card-title">We provide the best services for you </h5>
    <p class="card-text">There are many variations of passages of
                Lorem Ipsum available, but the majority have
                suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                anything embarrassing hidden in the middle of text.</p>
    
  </div>
  </div>
</div>


</div>


  <div class="d-grid gap-2 d-md-flex justify-content-md-center pt-4">

   
    <h3>Our Services</h3>
    
 
  </div>
  {{!-- cards --}}
  <section>
    <div class="container my-5">
      <div class="row d-flex justify-content-center">
        {{#each eventresult}}
        <div class="card col-md-3 m-2" style="width: 15rem;">
          <img style="width: 100%;height:200px;" src="/images/{{this.image}}" class="card-img-top">
          <div class="card-body">
            <div class="form-check">
              {{!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> --}}
              {{!-- <a href="/select_event/{{this._id}}" class="form-check-input" type="button" value=""
                id="flexCheckDefault"></a> --}}
              {{!-- {{#each name}} --}}
              <label class="form-check-label" for="flexCheckDefault">{{this.eventname.eventname}} </label>
              {{!-- {{/each}} --}}
            </div>
            {{!-- <h5 class="card-title">{{this.description}}</h5> --}}
            <p class="card-text">{{this.description}}</p>
            <a href="/addcart_event/{{this._id}}" class="btn btn-primary">Request Pricing</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

  </section>

 