<section class=" h-custom gradient-custom-2">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="row g-0">

          <div class="card card-registration card-registration-2" style="border-radius: 18px;">
            <div class="card-body p-0">
              <div class="row g-0">
                {{!-- <div class="col-lg-6"> --}}
                 
                  {{!-- <div class="col-lg-6"> --}}
                    <div class="p-5">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                             <th scope="col">Options</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Event Type</th>
                            <th scope="col">Event Location</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">No Of Guest</th>

                            <th scope="col">Starting Time</th>
                            <th scope="col">Ending Time</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Booking Status</th>
                            <th scope="col">Selected Foods</th>

{{!-- <td>{{orderlist}}</td> --}}
                          </tr>
                        </thead>
                        <tbody>
                          {{#each orderlist}}
                          <tr>
                            {{!-- <td scope="row"><img src="/images/{{this.image}}" style="height:100px; width: 100px;">
                            </td> --}}
                           
                            <td>{{this.customername}}</td>
                            <td>{{this.eventname}}</td>
                            <td>{{this.eventtype}}</td>
                            <td>{{this.eventlocation}}</td>
                            <td>{{this.eventdate}}</td>
                            <td>{{this.noofguest}}</td>
                            <td>{{this.starttime}}</td>
                            <td>{{this.endtime}}</td>
                            <td>{{this.totalAmount}}</td>
                            <td>{{this.status}}<br></td>
                            {{!-- {{/each}} --}}
                            {{#each this.selectedFood}}

                            <td> {{this.foodname}}
                            </td>
                            {{/each}}
                           </tr>
                            {{/each}}


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>