{{!-- <link rel='stylesheet' href='/stylesheets/booking.css' /> --}}
<link rel='stylesheet' href='/stylesheets/scroll.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

{{!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> --}}
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> --}}


<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Make your Booking</h1>
                    </div>

                    <form action="/booking-second" method="post">
                        <div class="form-group">
                            <a href="/food_view" class="btn submit-btn">Choose your food items</a>

                            <span class="form-label">Destination</span>
                        </div>
                        <div class="form-group">

                            <ul class="list-group " >
                                {{#each selectedFood}}

                                {{!-- {{#each this.fooditem}} --}}

                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center text-light form-control " >
                                    {{this.foodname}}
                                    {{!-- <a href="/admin/delete-food/{{this._id}}"
                                        onclick="return confirm('Do you want to delete{{this.Name}} ?')"><i
                                            class="bx bx-trash text-danger px-2"></i></a> --}}

                                    <a href="/delete-selectedfood/{{this._id}}"
                                        onclick="return confirm('Do you want to delete{{this.foodname}} ?')"> <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg></a>

                                </li>
                                {{!-- <li>fgghhjk</li> --}}


                                {{!-- {{/each}} --}}

                                {{/each}}
                            </ul>



                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group align">
                                    <label class="form text-light " for="form2Example18">Total Payment</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="total" value="{{Total}}">
                                    <span class="form-label">Destination</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{!-- {{#if bookevent}} --}}
                                    <a href="/booking/{{bookevent}}" class="btn submit-btn"> <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg></a>
                                    {{!-- {{/if}} --}}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">


                                    <button class="btn submit-btn text-light"> Payment</button>



                                    {{!-- <a class="btn submit-btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-arrow-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg></a> --}}


                                </div>
                            </div>
                        </div>
                        {{!-- <div class="form-btn"> <button class="submit-btn">Book Now</button> </div> --}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>