<div class="card mb-3 container mt-5" style="max-width: 540px;">
  <div class="row g-0">
    
    {{#if eventview}}

    <div class="col-md-4">
      <img style="width: 100%;height:200px" src="/images/{{eventview.image}}" class="card-img-top pt-4 ps-2">
    </div>
    <div class="col-md-8 ">
      <div class="card-body">
        {{!-- <label class="form-check-label" for="flexCheckDefault">{{this.eventname.eventname}} </label> --}}

        <h5 class="card-title">{{eventview.eventname.eventname}} </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Rs.{{eventview.amount}}</small></p>
        <div class="d-flex justify-content-center">
        <a href="/logged" class="btn btn-primary me-3">Back</a> 
        <a href="/booking/{{eventview._id}}" class="btn btn-primary">Booking</a>
        </div>


      </div>
    </div>
    {{/if}}
  </div>
</div>